@{
    ViewData["Title"] = "Login";
}

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
<div class="login-container">
    <div class="header-logo">
        <img src="..\Images\Logo-Chaskifud.png" alt="Chaskifud Logo" class="logo-image">
    </div>
    <form action='@Url.Action("VerificarLogin", "Auth")' method="post" class="login-form">
        <div class="form-group">
            <input type="email" class="input-field" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="input-field" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="submit-button">Iniciar Sesión</button> 
    </form>
    <p class="footer-text">¿No tienes una cuenta? <a href='@Url.Action("Register", "Auth")' class="register-link">Regístrate</a></p>
</div>