<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chaskifud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chaskifud.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      <nav class="navbar">

        <a href="#" class="logo-container"><img src = "../Images/C_Chaskifud.png"></a>

        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Mapa</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Locales</a></li>
        </ul>

        <a href = "#" class="profile">
            <img src="../Images/fotoPerfil.png" alt="Profile Picture">
        </a>
    </nav>  

        @RenderBody()

    <footer>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
