<div class="chat">
    <div class="chat-container">
        <form>
            <div class="container-submit-msj">
                <input type="text" class="submit-msj" name="Mensaje">
            </div>
        </form>
    </div>
</div>