
<!-- Agregar margin left en titulo y p, margin-bottom en "Como unirse" -->
<div class = "nosotros-container">
<section class="section-intro">
        <h1 class="intro-title">Chaskifud es así</h1>
        <div class="nosotros">
            <p class="intro-text">
                En marzo de 2024, 3 alumnos de ORT fundaron Chaskifud, inspirándose en la idea de "Chaski" que
                representa rapidez y precisión, y "food", palabra en inglés para comida. Chaskifud se dedica a ofrecer
                recomendaciones personalizadas en el sector alimentario, ayudando a restaurantes y comercios a conectar
                con sus clientes de manera más eficiente. Con un enfoque en simplicidad y efectividad, la empresa
                rápidamente se consolidó como un socio estratégico en la optimización de la experiencia del consumidor
                base de la secundaria ORT.
            </p>
            <div class="founders-images">
                <img src="../Images/Chaskintegrantes.png" alt="Fundador 1">
            </div>
        </div>
    </section>

    <section class="section-connections">
        <h2 class="connections-title">Conectando sabores y personas</h2>
        <div class="connections-textimg">
            <p class="connections-text">
                Explora las mejores recomendaciones de locales gastronómicos cerca de ti y encuentra tus nuevos
                favoritos.
            </p>
            <img src="../Images/Connecions-img.png" alt="Conectando sabores" class="connections-image">
        </div>
    </section>

    <section class="section-stats">
        <div class="stat-item">
            <h3 class="stat-number">2000+</h3>
            <p class="stat-text">Estudiantes de ORT</p>
        </div>
        <div class="stat-item">
            <h3 class="stat-number">13+</h3>
            <p class="stat-text">Locales asociados</p>
        </div>
        <div class="stat-item">
            <h3 class="stat-number">5+</h3>
            <p class="stat-text">Patrocinadores</p>
        </div>
    </section>

    <section class="section-join">
        <img src="../Images/Chaskifamilia.png" alt="Chaskifamlila" class="join-image">
        <div class="chaskifamilia-container">
            <h2 class="join-title">Unite a la familia</h2>
            <p class="join-text">Unite al equipo de Chaskifud y ayudá a crecer a esta hermosa familia.</p>
            <button class="join-button">Como unirse</button>
        </div>
    </section>
    </div>