<div class="container-pago">
  <div class="card-pago-izq">
    <h3>Medio de pago</h3>
    <div class="pago-final">
      <span>Total: $@ViewBag.pagoFinal</span>
    </div>
    <div class="pago-tiempo">
      <span>Tiempo estimado</span>
      <span>15-20 Minutos</span>
    </div>
  </div>

  <div class="card-pago-der">
    <h3>Detalles del pedido</h3>
    @if (ViewBag.ListaComida != null)
    {
      var comidasAgrupadas = (ViewBag.ListaComida as List<Comida>)
          .GroupBy(c => c.IdComida)
          .Select(g => new
          {
              Comida = g.First(),
              Cantidad = g.Count(),
              TotalPrecio = g.First().Precio * g.Count()
          })
          .ToList();

      foreach (var item in comidasAgrupadas)
      {
        <div class="pago-detalle">
          <span>@item.Comida.Nombre </span>
          <span>@item.Cantidad x $@item.Comida.Precio = $@item.TotalPrecio</span>
        </div>
      }
    }

    <div class="pago-total">
      <span>Total</span>
      <span>$@ViewBag.pagoFinal</span>
    </div>
  </div>
</div>
