<div class="container-pago">
  <div class="card-pago-izq">
    <h3>Medio de pago</h3>
    <div class="pago-metodo">
      <img src="dinero.png" alt="Dinero">
      <span>Milanesa</span>
      <span>$1000</span>
    </div>
    <div class="pago-tiempo">
      <span>Tiempo estimado</span>
      <span>15-20 Minutos</span>
    </div>
  </div>
  <div class="card-pago-der">
    <h3>Costo del producto</h3>
    <div class="pago-detalle">
      <span>Costo del producto</span>
      <span>$1000</span>
    </div>
    <div class="pago-detalle">
      <span>Costo servicio</span>
      <span>$100</span>
    </div>
    <div class="pago-total">
      <span>Total</span>
      <span>$1100</span>
    </div>
  </div>
</div>