*{
  padding: 0;
  margin: 0
  
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  
}

/*                                         INDEX                                         */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.containerIndexInfo, .food-container {
  flex: 1;
}

.containerIndexInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  width: 100%; 
}


.containerIndexInfo div {
  width: 900px;
  background-color: #FFD628;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);;
}

.h2-index {
  margin-left: 10%;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.food-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 40px;
}

.food-card {
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 18%;
  text-align: center;
  overflow: hidden;
  height: 220px;  
}

.food-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.food-info {
  display: flex;
  margin-top: 15px;
  padding: 0px;
}

.food-info img{
  margin-left: 15px;
  width: 40px;
  height: 40px;
}
.sub-food-info{
  margin-left: 7px;
}
.food-info h3 {
  font-size: 18px;
  margin-bottom: 1px;
  color: #333;
}

.food-info p {
  font-size: 10px;
  color: #666;
  margin-bottom: 1px;
}

.food-info span {
  font-size: 16px;
  color: #fbc02d;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
}
.logo-chaski-container{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-chaski{
  width: 30%;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.menu-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(0.7);
}

.menu-label {
  position: absolute;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.large {
  width: 700px;
  height: 420px;
}

.menu-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-column .menu-item {
  width: 700px;
  height: 200px;
}
.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
/*                                       NOSOTROS                                    */
.section-intro {
  background-color: #f6efd9;
  padding: 50px;
  text-align: center;
}
.section-intro .nosotros {
  display: flex; 
  flex-wrap: nowrap;
  justify-content: space-between;

} 

.section-intro .intro-title {
  font-size: 2.5rem;
  color: #333; 
  text-align: left;
 
}

.intro-title{
  font-weight: bold;
}
.section-intro .intro-text {
  font-size: 1.2rem;
  max-width: 800px;
  margin-top: 50px;
  color: #666;
  text-align: left;
  max-width: 70%;
  font-size: 20px;
  line-height: 1.5em;
}

.section-intro .founders-images {
max-width: 30%;}

.intro-title, .intro-text{
  margin-left: 30px;
}
.founders-images img {
  width: 400px;
  height: auto;
  border-radius: 10%;
  justify-content: right;
}


.section-connections {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  background-color: #183c38;
  padding: 50px;
  text-align: center;
  color: white;
}

.connections-textimg {
  display: flex; 
  flex-wrap: nowrap;
  justify-content: space-between;

}

.connections-title {
  font-size: 2rem;
  text-align: left;
}

.connections-text {
  text-align: left;
  font-size: 1.2rem;
  max-width: 600px;
}

.connections-image {
  display: flex;
  width: 200px;
  height: auto;
}

.section-stats {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 50px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.stat-number {
  font-size: 2rem;
  color: #ffcc00;
}

.stat-text {
  font-size: 1.2rem;
  color: #333;
}

.section-join {
  display: flex;  
  margin-bottom: 8%;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #ffd700;
}

.join-title {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.join-text {
  font-size: 1.2rem;
  max-width: 600px;
  color: #666;
}

.join-button {
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.join-image{
  height: 250px;
  margin-left: 10%;
  border-radius: 5%;
}

.join-button:hover {
  background-color: #e68a00;
}
.chaskifamilia-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%;
  margin-left: auto;
}

.nosotros-container{
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

/* Restaurante */
.enviar_rest {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
}

.restaurante-container{
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.locales-title-container{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.locales-title-container h1{
  font-weight: bold;
}
.info-local-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info-local-container h3{
font-weight: bold;
}
.local-container{
  position: relative;
  overflow: hidden;
  background-color: #FCC10E;
  width: 75%;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}
.local-container:hover{
  background-color: #dba80f;
}
.local-container-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-left: 2%;
}
.puntuacion-container{
margin-right: 20px;
margin-top: 10px;
  margin-left: auto;
}
.local-container img{
  border-radius: 5px;
  width: 125px;
  height: 125px;
}
.info-local-container{
  margin-right: 10%;
}


/* Mapa */  
.Mapa{
  margin-top: 10%;
  width: 100%;
  height: 495px;
}
.search-input{
border-radius: 5px;
}
.search-inline--input{
  margin-top: 17%;
}
.content-inline {
  width: 35%;
  position: absolute;
  left: 50%;
  top: 11%;
  transform: translate(-50% , -50%);
  display:inline-block
}
.search-inline {
  width: 100%;
  position: relative;
  display: flex;
}
.search-inline--input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border: 1px solid #222222;
  border-radius:10px;
  outline: none;
  color: #222222;
  font-size:15px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 22 22' %3E%3Cpath d='M14.92 14.07l6.04 6.04c.23.24.23.62 0 .86-.24.23-.62.23-.85 0l-6.03-6.04C12.57 16.22 10.63 17 8.5 17 3.8 17 0 13.2 0 8.5S3.8 0 8.5 0 17 3.8 17 8.5c0 2.13-.78 4.08-2.08 5.57zM8.5 16c4.14 0 7.5-3.36 7.5-7.5C16 4.36 12.64 1 8.5 1 4.36 1 1 4.36 1 8.5 1 12.64 4.36 16 8.5 16z' fill='black' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 1.675em;
}


/* Perfil */
main{
  display: flex;
  justify-content: center;
  
}
.perfil-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfil-container img{
  width: 200px;
  border-radius: 100px;
  margin-bottom: auto;

}
.form-perfil{
  border-radius: 10px;
  background-color: #FFDA3C;
  width: 40%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

}
.perfil-puntos-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: auto;
  position: relative;
  left: -10%;
}
.perfil-puntos-container p{
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  margin-top: 5px;
}
/* Puntos y perfil de Perfil.cshtml */
.perfil-ap{
  display: flex;
  width: 50%;
  justify-content: center;
  border-radius: 10px;
  font-weight: 650;
  padding: 7px;
  background-color: #FFDA3C;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.perfil-pp{
  display: flex;
  width: 50%;
  justify-content: center;
  border-radius: 10px;
  font-weight: 650;
  padding: 7px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
/* Puntos y perfil de PerfilPuntos.cshtml */

.form-perfil input[type="text" ] {
  width: 90%;
  background-color: transparent; 
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 20px;
  outline: none;
  border: none ;
  border-bottom: 1px solid black; 
  transition: background 0.3s ease, border-color 0.3s ease; 
}
.form-perfil input[type="tel" ] {
  width: 90%;
  background-color: transparent; 
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 20px;
  outline: none;
  border: none ;
  border-bottom: 1px solid black  ; 
  transition: background 0.3s ease, border-color 0.3s ease; 
}
.form-perfil input[type="text"]:focus {
  background: linear-gradient(135deg, #FFDA3C, #ffe054); 
  border-color: #ffffff;
  border-radius: 5px;
}
.form-perfil input[type="tel"]:focus {
  background: linear-gradient(135deg, #FFDA3C, #ffe054); 
  border-color: #ffffff;
}
.form-perfil h5{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: auto;
}

.enviar{
  background-color: #47EC15;
  width: 150px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  padding: 5px;
}
.enviar:hover{
  background-color: #41d813;
}



/* PerfilPuntos.cshtml */
.puntos-container{
  border-radius: 10px;
  background-color: #FFDA3C;
  width: 40%;
  border: 1px solid black;
  height: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Restaurante elegido */
.restaurante-elegido-container{
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: auto;
  width: 100%;
}
.restaurante-elegido-container h1{
font-size: 35px;
font-weight: 600;
}
.info-restaurante-elegido{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.info-restaurante-elegido div{
  display: flex;

  flex-direction: column;
  margin-left: 2%;
}

/* Comidas card */
.comidas-container{
  width: 100%;
  height: auto;
  border: 1px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: auto;
}
.comidas-card{
  width: 15%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FCC10E;
  
}
.comidas-card div{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.comidas-card h6{
  margin-left: 5%;
  font-size: 17px;
}
.comidas-card span{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.comidas-card h5{
  margin-bottom: auto;
  margin-top: 2%;
  margin-left: 3%;
  margin-top: 5%;
}
.comidas-card button{
  width: 30%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
}
.comidas-card img{
  margin-left: auto;
  width: 96px;
  height: 96px;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

