body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.containerIndexInfo, .food-container {
  flex: 1;
}


.containerIndexInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  width: 100%; 
}


.containerIndexInfo div {
  width: 900px;
  background-color: #fbc02d;
  border-radius: 15px;
  padding: 40px;
  border: 1px solid #333;
}

.h2-index {
  margin-left: 10%;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.food-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
}

.food-card {
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 18%;
  text-align: center;
  overflow: hidden;
  height: 220px;  
}

.food-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.food-info {
  display: flex;
  margin-top: 15px;
  padding: 0px;
}

.food-info img{
  margin-left: 15px;
  width: 40px;
  height: 40px;
}
.sub-food-info{
  margin-left: 7px;
}
.food-info h3 {
  font-size: 18px;
  margin-bottom: 1px;
  color: #333;
}

.food-info p {
  font-size: 10px;
  color: #666;
  margin-bottom: 1px;
}

.food-info span {
  font-size: 16px;
  color: #fbc02d;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
}


/* Nosotros view */
.section-intro {
  background-color: #f6efd9;
  padding: 50px;
  text-align: center;
}
.section-intro .nosotros {
  display: flex; 
  flex-wrap: nowrap;
  justify-content: space-between;

} 
.section-intro .intro-title {

  font-size: 2.5rem;
  color: #333; 
  text-align: left;
  margin-left: 30px;  
  font-weight: bold;

}

.section-intro .intro-text {
  font-size: 1.2rem;
  max-width: 800px;
  margin-top: 50px;
  color: #666;
  text-align: left;
  max-width: 70%;
  font-size: 20px;
  line-height: 1.5em;
  margin-left: 30px;
}

.section-intro .founders-images {
max-width: 30%;}

.founders-images img {
  width: 400px;
  height: auto;
  border-radius: 10%;
  justify-content: right;
}


.section-connections {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  background-color: #183c38;
  padding: 50px;
  text-align: center;
  color: white;
}

.connections-textimg {
  display: flex; 
  flex-wrap: nowrap;
  justify-content: space-between;

}

.connections-title {
  font-size: 2rem;
  text-align: left;
}

.connections-text {
  text-align: left;
  font-size: 1.2rem;
  max-width: 600px;
}

.connections-image {
  display: flex;
  width: 200px;
  height: auto;
}

.section-stats {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 50px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.stat-number {
  font-size: 2rem;
  color: #ffcc00;
}

.stat-text {
  font-size: 1.2rem;
  color: #333;
}

.section-join {
  display: flex;  
  
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #ffd700;
  margin-bottom: 3%;
}

.join-title {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.join-text {
  font-size: 1.2rem;
  max-width: 600px;
  color: #666;
}

.join-button {
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.join-image{
  height: 275px;
  width: auto;
  margin-left: 13%;
  border-radius: 5%;
}

.join-button:hover {
  background-color: #e68a00;
}
.chaskifamilia-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 13%;
  margin-left: auto;
}
.nosotros-container{
  display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}